body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

#navbar {
  height: 40px;
  width: 300px;
  display: block;
  position: absolute;
  top: 10px;
  right: 30px;
  text-align: right;

}

#username {
  display: inline-block;
  vertical-align: middle;
  color: #AAA;
}

#gmail {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

#gmail a {
  text-decoration: none;
  color: black;
}

#gmail a:hover {
  text-decoration: underline;
}

#images {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

#images a {
  text-decoration: none;
  color: #000;
}

#images a:hover {
  text-decoration: underline;
}

#gapps {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

#notifications {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

#account {
  display: inline-block;
  right: 30px;
  vertical-align: middle;
  margin-left: 15px;
}

#account img {
  border-radius: 50px;
}

#logo {
  display: block;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

#logo img {
  height: 92px;
  width: 272px;
}

#location {
  font-size: 16px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  position: relative;
  right: -158px;
  color: #4285F4;

}

#search {
  width: 475px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid #AAA;
}

#voice {
  width: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -35px;
  right: -220px;
}
